<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XPTO - Carteirinha do Estudante</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="wrapper" v-cloak>
      <h1>XPTO - Carteirinha do Estudante</h1>

      <div id="central">
        <div id="formulario">
          <label for="nome">Nome:</label>
          <input
            v-model="nome"
            type="text"
            id="nome"
            placeholder="Digite seu nome"
          />

          <label for="matricula">Matrícula:</label>
          <input
            v-model="matricula"
            type="text"
            id="matrícula"
            placeholder="Digite sua matrícula"
          />
        </div>

        <div id="previa">
          <div id="cartao">
            <div id="dados-cartao">
              <span class="label-cartao">Nome:</span>
              <span class="dado-cartao" v-text="nome"></span>
              <span class="label-cartao">Matrícula:</span>
              <span class="dado-cartao" v-text="matricula"></span>
            </div>
            <div id="foto">Foto</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Importamos o Vue, da CDN unpkg.com -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Abrimos um bloco de script local para trabalharmos com o Vue.js -->
    <script>
      // Criamos uma VUe Instance (um App)
      Vue.createApp({
        // Dizemos quais dados esse App irá gerenciar
        // `data` é uma função, (){...}
        data() {
          // que retorna Objeto (JSON)
          return {
            // Nome e matrícula inicialmente são String em branco ""
            nome: "",
            matricula: "",
          };
        },
        // Dizemos onde em nosso HTML o Vue irá viver. Nesse caso no bloco HTML com id central
      }).mount("#central");
    </script>
    <!-- Leitura do codigo a cima: crie um App (Vue Instance) e monte-o no elemento HTML, cujo id é central -->
  </body>
</html>
